{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}

<h3>Building the New Coalition</h3>

<p>Let's be honest. The EU is a mess, and no-one in power has a plan for saving it. The euro is a half-finished project, prone to falling apart whenever a shock hits. Border protection has been outsourced to an unstable Turkey, the leader of which blackmails Europe. We are weak, and we suffer for it.  Europeans of one hundred years ago, for all their faults, would not have tolerated this.
</p>
<p>
The old model for Europe is out-dated and exhausted.  Mainstream politicians are too timid to do anything radical, such as creating a solution to the migration crisis. On the other hand, eurosceptic politicians want to destroy the euro and the single market, turning Europe into Ground zero for the greatest economic crash in history.
</p>
<p>
It has become clear those of us who want a Europe united, prosperous and strong need to inject new life and ideas into this continent.  A new pan-European coalition will be necessary, whose role will be to sketch out and indeed attempt to implement a new grand bargain between the nations of Europe.  
</p>
<p>
At the same time, we will need to to identify a new vision for Europe, which is capable not just of inspiring but also of ensuring the interests of both elites and ordinary Europeans.  
</p>
<p>
Ambitious tasks, certainly. But to be unambitious in times such as these is surrender to the twin forces of decline and chaos.   
</p>
<p>
As a first step, I have created this website. It will allow those of us so interested to devise, debate and implement such a plan. I will lay out my thoughts over the coming weeks.  If you want to participate, please register, read and comment on the various blog posts, and/or email me with your thoughts!
</p>


</p>
{% endblocktrans %}
{% endblock %}
