{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<h2>Time for a New Approach</h2>


<p>
Let's be honest. The EU is a mess. The euro is a half-finished project, prone to falling apart whenever a shock hits. Border protection has been outsourced to an unstable Turkey, the leader of which blackmails Europe. Europeans of one hundred years ago, for all their faults, would not have tolerated this.
</p>
<p>
Where is the plan for sorting this out? Mainstream politicians are too timid to do anything radical, such as defending Europe from mass migration. On the other hand, eurosceptic politicians want to destroy the euro and the single market, turning Europe into Ground zero for the greatest economic crash in history.
</p>
<p>
It has become clear those of us who want a Europe united, prosperous and strong will have to take matters into our own hands. As a first step, I have set-up this website. It will allow those of us so interested to devise, debate and implement such a plan. If you want to participate, please register, comment on the various blog posts, and/or email me with your thoughts!
</p>
{% endblocktrans %}
{% endblock %}
